In [55]:
import pandas as pd
import math
import random
df=pd.DataFrame()

In [58]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[0],
    'sea_food':[0],
    'bbq':[0],
    'dessert':[0],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')
df

,event,total_people,city,rice,curry,sea_food,bbq,dessert,dish_name,dish_type,amount
0,shadi,100,karachi,1,0,0,0,0,pulao,rice,10
0,shadi,105,karachi,1,0,0,0,0,pulao,rice,11
0,shadi,110,karachi,1,0,0,0,0,pulao,rice,13
0,shadi,115,karachi,1,0,0,0,0,pulao,rice,13
0,shadi,120,karachi,1,0,0,0,0,pulao,rice,12
...,...,...,...,...,...,...,...,...,...,...,...
0,shadi,980,karachi,1,0,0,0,0,chinese,rice,98
0,shadi,985,karachi,1,0,0,0,0,chinese,rice,109
0,shadi,990,karachi,1,0,0,0,0,chinese,rice,99
0,shadi,995,karachi,1,0,0,0,0,chinese,rice,110
0,shadi,1000,karachi,1,0,0,0,0,chinese,rice,100

In [61]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[1],
    'sea_food':[0],
    'bbq':[0],
    'dessert':[0],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')
df

,event,total_people,city,rice,curry,sea_food,bbq,dessert,dish_name,dish_type,amount
0,shadi,100,karachi,1,0,0,0,0,pulao,rice,10
0,shadi,105,karachi,1,0,0,0,0,pulao,rice,11
0,shadi,110,karachi,1,0,0,0,0,pulao,rice,13
0,shadi,115,karachi,1,0,0,0,0,pulao,rice,13
0,shadi,120,karachi,1,0,0,0,0,pulao,rice,12
...,...,...,...,...,...,...,...,...,...,...,...
0,shadi,980,karachi,1,1,0,0,0,chinese,rice,108
0,shadi,985,karachi,1,1,0,0,0,chinese,rice,99
0,shadi,990,karachi,1,1,0,0,0,chinese,rice,109
0,shadi,995,karachi,1,1,0,0,0,chinese,rice,110
0,shadi,1000,karachi,1,1,0,0,0,chinese,rice,100

In [64]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[2],
    'sea_food':[0],
    'bbq':[0],
    'dessert':[0],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

In [67]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[0],
    'sea_food':[1],
    'bbq':[0],
    'dessert':[0],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

In [70]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[0],
    'sea_food':[2],
    'bbq':[0],
    'dessert':[0],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

In [73]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[0],
    'sea_food':[0],
    'bbq':[1],
    'dessert':[0],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

In [76]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[0],
    'sea_food':[0],
    'bbq':[2],
    'dessert':[0],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

In [79]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[0],
    'sea_food':[0],
    'bbq':[3],
    'dessert':[0],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

In [82]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[0],
    'sea_food':[0],
    'bbq':[0],
    'dessert':[1],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

In [85]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[0],
    'sea_food':[0],
    'bbq':[0],
    'dessert':[2],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

In [88]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[1],
    'sea_food':[1],
    'bbq':[0],
    'dessert':[0],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

In [91]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[1],
    'sea_food':[2],
    'bbq':[0],
    'dessert':[0],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

In [94]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[1],
    'sea_food':[1],
    'bbq':[1],
    'dessert':[0],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

In [97]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[1],
    'sea_food':[1],
    'bbq':[2],
    'dessert':[0],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

In [100]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[1],
    'sea_food':[1],
    'bbq':[3],
    'dessert':[0],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

In [103]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[1],
    'sea_food':[1],
    'bbq':[1],
    'dessert':[1],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

In [106]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[1],
    'sea_food':[1],
    'bbq':[1],
    'dessert':[2],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

In [109]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[1],
    'sea_food':[1],
    'bbq':[2],
    'dessert':[1],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

In [112]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[1],
    'sea_food':[1],
    'bbq':[2],
    'dessert':[2],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

In [115]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[1],
    'sea_food':[1],
    'bbq':[3],
    'dessert':[1],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

In [118]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[1],
    'sea_food':[1],
    'bbq':[3],
    'dessert':[2],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

In [121]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[1],
    'sea_food':[2],
    'bbq':[1],
    'dessert':[1],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

In [124]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[1],
    'sea_food':[2],
    'bbq':[1],
    'dessert':[2],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

In [127]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[1],
    'sea_food':[2],
    'bbq':[2],
    'dessert':[1],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

In [130]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[1],
    'sea_food':[2],
    'bbq':[2],
    'dessert':[2],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

In [133]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[1],
    'sea_food':[2],
    'bbq':[3],
    'dessert':[1],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

In [136]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[1],
    'sea_food':[2],
    'bbq':[3],
    'dessert':[2],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

In [139]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[2],
    'sea_food':[1],
    'bbq':[1],
    'dessert':[1],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

In [142]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[2],
    'sea_food':[1],
    'bbq':[1],
    'dessert':[2],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

In [145]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[2],
    'sea_food':[1],
    'bbq':[2],
    'dessert':[1],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

In [148]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[2],
    'sea_food':[1],
    'bbq':[2],
    'dessert':[2],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

In [151]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[2],
    'sea_food':[1],
    'bbq':[3],
    'dessert':[1],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

In [154]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[2],
    'sea_food':[1],
    'bbq':[3],
    'dessert':[2],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

In [157]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[2],
    'sea_food':[2],
    'bbq':[1],
    'dessert':[1],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

In [160]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[2],
    'sea_food':[2],
    'bbq':[1],
    'dessert':[2],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

In [163]:
for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[2],
    'sea_food':[2],
    'bbq':[2],
    'dessert':[1],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[2],
    'sea_food':[2],
    'bbq':[2],
    'dessert':[2],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[2],
    'sea_food':[2],
    'bbq':[3],
    'dessert':[1],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

for i in range(100,1001,5):
    data={
    'event':['shadi'],
    'total_people':[i],
    'city':['karachi'],
    'rice':[1],
    'curry':[2],
    'sea_food':[2],
    'bbq':[3],
    'dessert':[2],
    'dish_name':['chinese'],
    'dish_type':['rice'],
    'amount':[math.ceil((i*(random.randrange(10,12)))/100)]
    }
    dict_data= pd.DataFrame.from_dict(data)
    df=df.append(dict_data,sort=False)
    df.to_csv('deghjee.csv')

In [164]:
df

,event,total_people,city,rice,curry,sea_food,bbq,dessert,dish_name,dish_type,amount
0,shadi,100,karachi,1,0,0,0,0,pulao,rice,10
0,shadi,105,karachi,1,0,0,0,0,pulao,rice,11
0,shadi,110,karachi,1,0,0,0,0,pulao,rice,13
0,shadi,115,karachi,1,0,0,0,0,pulao,rice,13
0,shadi,120,karachi,1,0,0,0,0,pulao,rice,12
...,...,...,...,...,...,...,...,...,...,...,...
0,shadi,980,karachi,1,2,2,3,2,chinese,rice,108
0,shadi,985,karachi,1,2,2,3,2,chinese,rice,109
0,shadi,990,karachi,1,2,2,3,2,chinese,rice,99
0,shadi,995,karachi,1,2,2,3,2,chinese,rice,110
0,shadi,1000,karachi,1,2,2,3,2,chinese,rice,110